<div ng-controller="homeController">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Please see my projects below if any.</p>
    <img name="angularjslogo" src="app/img/angularjs-logo.png" width="479" height="123" alt="" />
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4><a href="/test">Sample Test</a></h4>
      <p>Experimenting with the gh-pages branch on a sample project.</p>
      <small><a href="https://github.com/robbiesmith79/test" target="_blank" title="Github Source">Source</a></small>
    </div>

    <div class="col-lg-6">
      <h4>TBD</h4>
      <p>Coming soon.</p>
    </div>
  </div>
</div>