<div ng-controller="homeController">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Please see my projects below if any.</p>
    <img name="angularjslogo" src="app/img/angularjs-logo.png"  height="75" alt="" />
  </div>
  <div class="row">
    <div class="col-lg-12">
      <tabset>
        <tab heading="Unit 1">
          <div ng-include="'app/partials/unit1.html'"></div>
        </tab>
        <tab heading="Unit 2">
          <div ng-include="'app/partials/unit2.html'"></div>
        </tab>
        <tab heading="Unit 3">
          <div ng-include="'app/partials/unit3.html'"></div>
        </tab>
        <tab heading="Unit 4">
          <div ng-include="'app/partials/unit4.html'"></div>
        </tab>        
      </tabset>
    </div>
  </div>
</div>