<div class="well">
	<div class="row">
		<div class="col-lg-6">
			<h4><a href="http://robbiesmith79.github.io/unit1-calculator">Calculator</a></h4>
			<p>This is the simple Adder / Subtractor using JavaScript.</p>
			<small><a href="https://github.com/robbiesmith79/unit1-calculator" target="_blank" title="Github Source">Source</a></small>
		</div>

		<div class="col-lg-6">
			<h4>Lesson 2: Challenge</h4>
			<p><a href="http://cssdeck.com/labs/oe1kgomn" target="_blank">Months</a><br/>
				<a href="http://cssdeck.com/labs/wgib3iv1" target="_blank">Fizz Buzz</a><br/>
				<a href="http://cssdeck.com/labs/ycfxl4xj" target="_blank">Countries Data</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h4><a href="http://robbiesmith79.github.io/unit1-madlibs">ngMadLibs</a></h4>
				<p>Fun childhood game combining Mad Libs and AngularJS</p>
				<small><a href="https://github.com/robbiesmith79/unit1-madlibs" target="_blank" title="Github Source">Source</a></small>
			</div>

			<div class="col-lg-6">
				<h4>Lesson 3: Code-a-long</h4>
				<p><a href="https://robbiesmith79.github.io/unit1-multiplication" target="_blank">Multiplication Table</a><br/>
					<small><a href="https://github.com/robbiesmith79/unit1-multiplication" target="_blank" title="Github Source">Source</a></small></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h4><a href="http://robbiesmith79.github.io/unit1-madlibs-final">ngMadLibs - final</a></h4>
				<p>Last refactor of the project in its final form.</p>
				<small><a href="https://github.com/robbiesmith79/unit1-madlibs-final" target="_blank" title="Github Source">Source</a></small>
			</div>

			<div class="col-lg-6">
				<h4></h4>
				<p><a href="" target="_blank"></a><br/>
					<small><a href="" target="_blank" title="Github Source"></a></small></p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h4><a href="http://robbiesmith79.github.io/unit1-waitstaff-calculator">Waitstaff Calculator</a></h4>
				<p>First version of the waitstaff calculator</p>
				<small><a href="https://github.com/robbiesmith79/unit1-waitstaff-calculator" target="_blank" title="Github Source">Source</a></small>
			</div>

			<div class="col-lg-6">
				
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-6">
				<h4><a href="http://robbiesmith79.github.io/unit1-madlibs-animated">ngMadLibs - Animated</a></h4>
				<p>Animated refactor of the project in its final form.</p>
				<small><a href="https://github.com/robbiesmith79/unit1-madlibs-animated" target="_blank" title="Github Source">Source</a></small>
			</div>

			<div class="col-lg-6">
				<h4></h4>
				<p><a href="" target="_blank"></a><br/>
					<small><a href="" target="_blank" title="Github Source"></a></small></p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h4><a href="http://robbiesmith79.github.io/unit1-instagram">Instagram Search</a></h4>
				<p>Animated refactor of the project in its final form.</p>
				<small><a href="https://github.com/robbiesmith79/unit1-instagram" target="_blank" title="Github Source">Source</a></small>
			</div>

			<div class="col-lg-6">
				<h4></h4>
				<p><a href="" target="_blank"></a><br/>
					<small><a href="" target="_blank" title="Github Source"></a></small></p>
			</div>
		</div>
	</div>
</div>